@import url('https://fonts.googleapis.com/css?family=Oswald');
html, body {
  height: 100%;
  margin: 0;
  padding:0;
  width: 100%;
}
#landing-content {
    position: fixed;
    }
.intro {
  width: 100%;
  height: 100vh;
  margin:  0 auto;
  background-size: cover;
  background-color: #114b5f;
  .inner {
    vertical-align: middle;
    width:100%;
    max-width: none;
  }
}
.sp-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;

}
h2 {
 font-family: 'Oswald', sans-serif;
 color: #e4fde1;
 text-shadow: 0px 0px 300px #000;
 font-size: 400%;
 padding-bottom: 25px;
 padding-top: 65px;
}

.btn {
  margin: 20px auto;
  border-radius: 9px;
  color: #e4fde1;
  font-size: 135%;
  padding: 5px 60px;
  border: solid #028090 3px;
  text-transform: uppercase;
  text-decoration: none;
  width: 200px;
  display: block;
  &:active {
    color: #e4fde1;
    background-color: #028090;
  }
  &:hover {
    color: #e4fde1;
  }
}
.cards {
  text-align: center;
  width: 100%;
  background-color: #fff;
}
<<<<<<< HEAD
.card {
  width: 175px;
  height: 250px;
  background-color: #EB4040;
  display: inline-block;
  margin: 20px;
}
=======
.btn:hover {
  color: #e4fde1;
}
#landing-content.clicked {
    
    height: 0%;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
}
>>>>>>> 2703efeae0a5df1732a54f67f0cc2799bdaf839c
