@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
  box-sizing: border-box;
}

html, body {
  height: 90%;
}

body {
  background: #114b5f;
  min-height: 90%;
  font-family: "Arial", sans-serif;
}

.wrap {
  position: relative;
  height: 80%;
  margin-top: 10%;
  min-height: 500px;
  padding-bottom: 20px;
}

.game {
  transform-style: preserve-3d;
  perspective: 500px;
  min-height: 100%;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

@mixin width($max){
  @media (max-width: $max){
    @content;
  }
}

@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: white;
  }
}

.card {
  float: left;
  width: 16.66666%;
  height: 25%;
  padding: 5px;
  text-align: center;
  display: block;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  z-index: 50; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
  @include width(800px){
    width: 25%;
    height: 16.666%;
  }
  .inside {
    width: 100%;
    height: 100%;
    display: block;
    transform-style: preserve-3d;
    transition: .4s ease-in-out;
    background: #fff;

    &.picked, &.matched {
      transform: rotateY(180deg);
    }
    &.matched {
      animation: 1s matchAnim ease-in-out;
      animation-delay: .4s;
      background-color: #fff;
    }
  }
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      max-height: 100%;
    }
  }
  .front {
    transform: rotateY(-180deg);
    @include width(800px){
      padding: 5px;
    }
  }
  .back{
    @include width(800px){
      padding: 10px;
    }
  }
}

.modal-overlay {
  display: none;
  background: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: relative;
  width: 500px;
  height: 400px;
  max-height: 90%;
  max-width: 90%;
  min-height: 380px;
  margin: 0 auto;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 10px;
  .winner {
    font-size: 80px;
    text-align: center;
    font-family: "Anton", sans-serif;
    color: #4d4d4d;
    text-shadow: 0px 3px 0 black;
    @include width(480px){
      font-size: 60px;
    }
  }
  .restart {
    font-family: "Anton", sans-serif;
    margin: 30px auto;
    padding: 20px 30px;
    display: block;
    font-size: 30px;
    border: none;
    background: #4d4d4d;
    background: linear-gradient(#4d4d4d, #222);
    border: 1px solid #222;
    border-radius: 5px;
    color: white;
    text-shadow: 0px 1px 0 black;
    cursor: pointer;
    &:hover {
      background: linear-gradient(#222, black);
    }
  }
  .message {
    text-align: center;
    a {
      text-decoration: none;
      color: #28afe6;
      font-weight: bold;
      &:hover {
        $c: lighten(#28afe6, 10%);
        color: $c;
        border-bottom: 1px dotted $c;
      }
    }
  }
}