$drk-blue:#114b5f;
$off-white:#e4fde1;
$light-blue:#028090;

@import url('https://fonts.googleapis.com/css?family=Oswald');
html, body {
  height: 90%;
  margin: 0;
  padding:0;
  width: 100%;
}
#landing-content {
    position: fixed;
    }
.intro {
  width: 100%;
  height: 100vh;
  margin:  0 auto;
  background-size: cover;
  background-color:drk-blue;
  .inner {
    vertical-align: middle;
    width:100%;
    max-width: none;
  }
}
.sp-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;

}
h2 {
 font-family: 'Oswald', sans-serif;
 color: light-blue;
 text-shadow: 0px 0px 300px #000;
 font-size: 400%;
 padding-bottom: 25px;
 padding-top: 65px;
}

.btn {
  margin: 20px auto;
  border-radius: 9px;
  color: light-blue;
  font-size: 135%;
  padding: 5px 60px;
  border: solid off-white 3px;
  text-transform: uppercase;
  text-decoration: none;
  width: 200px;
  display: block;
  &:active {
    color:light-blue;
    background-color: off-white;
  }
  &:hover {
    color: light-blue;
  }
}
.cards {
  text-align: center;
  width: 100%;
  background-color: #fff;
}
.card {
  width: 175px;
  height: 250px;
  background-color: #EB4040;
  display: inline-block;
  margin: 20px;
}
.btn:hover {
  color: #e4fde1;
}
#landing-content.clicked {
    height: 0%;
    transition: height 0.5s ease;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
}
body {
  background: #114b5f;
  min-height: 90%;
  font-family: "Arial", sans-serif;
}

.wrap {
  position: relative;
  height: 80%;
  margin-top: 10%;
  min-height: 500px;
  padding-bottom: 20px;
}

.game {
  transform-style: preserve-3d;
  perspective: 500px;
  min-height: 100%;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

@mixin width($max){
  @media (max-width: $max){
    @content;
  }
}

@keyframes matchAnim {
  0% {
    background: #bcffcc;
  }
  100% {
    background: white;
  }
}
.card {
  float: left;
  width: 16.66666%;
  height: 25%;
  padding: 5px;
  text-align: center;
  display: block;
  perspective: 500px;
  position: relative;
  cursor: pointer;
  z-index: 50; 
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
  @include width(800px){
    width: 25%;
    height: 16.666%;
  }
  .inside {
    width: 100%;
    height: 100%;
    display: block;
    transform-style: preserve-3d;
    transition: .4s ease-in-out;
    background: #fff;

    &.picked, &.matched {
      transform: rotateY(180deg);
    }
    &.matched {
      animation: 1s matchAnim ease-in-out;
      animation-delay: .4s;
      background-color: #fff;
    }
  }
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
      max-height: 100%;
    }
  }
  .front {
    transform: rotateY(-180deg);
    @include width(800px){
      padding: 5px;
    }
  }
  .back{
    @include width(800px){
      padding: 10px;
    }
  }
}

.modal-overlay {
  display: none;
  background: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: relative;
  width: 500px;
  height: 400px;
  max-height: 90%;
  max-width: 90%;
  min-height: 380px;
  margin: 0 auto;
  background: white;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 10px;
  .winner {
    font-size: 80px;
    text-align: center;
    font-family: "Anton", sans-serif;
    color: #4d4d4d;
    text-shadow: 0px 3px 0 black;
    @include width(480px){
      font-size: 60px;
    }
  }
  .restart {
    font-family: "Anton", sans-serif;
    margin: 30px auto;
    padding: 20px 30px;
    display: block;
    font-size: 30px;
    border: none;
    background: #4d4d4d;
    background: linear-gradient(#4d4d4d, #222);
    border: 1px solid #222;
    border-radius: 5px;
    color: white;
    text-shadow: 0px 1px 0 black;
    cursor: pointer;
    &:hover {
      background: linear-gradient(#222, black);
    }
  }
  .message {
    text-align: center;
    a {
      text-decoration: none;
      color: #28afe6;
      font-weight: bold;
      &:hover {
        $c: lighten(#28afe6, 10%);
        color: $c;
        border-bottom: 1px dotted $c;
      }
    }
  }
}