@import url('https://fonts.googleapis.com/css?family=Oswald');
html, body {
  height: 100%;
  margin: 0;
  padding:0;
  width: 100%;
}
.intro {
  width: 100%;
  height: 100vh;
  margin:  0 auto;
  background-size: cover;
  background-color: #114b5f;
}
.intro .inner {
  vertical-align: middle;
  width:100%;
  max-width: none;
}
.sp-content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;

}
h2 {
 font-family: 'Oswald', sans-serif;
 color: #e4fde1;
 text-shadow: 0px 0px 300px #000;
 font-size: 400%;
 padding-bottom: 25px;
 padding-top: 65px;
}

.btn {
  border-radius: 9px;
  color: #e4fde1;
  font-size: 135%;
  padding: 5px 60px;
  border: solid #028090 3px;
  text-transform: uppercase;
  text-decoration: none;

}
.btn:active {
  color: #e4fde1;
  background-color: #028090;
}
.btn:hover {
  color: #e4fde1;
}